<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление</title>
</head>
<body>
<button onclick="window.location='/'">Назад</button>
<br>
<form method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
            {% for cols in cols %}
                <th>{{ cols }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in select_dict.items %}
                <td><input type="text" name="{{ key }}"></td>
            {% endfor %}
        </tr>
    </table>
<input type="submit" value="Добавить" >
</form>
</body>
</html>